@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;900&display=swap');


* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
}


:root {
  --Light-gray: rgb(250, 250, 250);
  --Slate-blue: rgb(40, 42, 51);
  --Lavender-gray: rgb(175, 174, 192);
  --Deep-cyan: rgb(77, 150, 169);
  --Light-purple: rgb(133, 95, 178);
  --Light-cyan: rgb(142, 224, 245);
}


body {
  min-height: 100vh;
  background-color: (--Light-gray);
  font-family: 'IBM Plex Sans';
}


section {
  width: 100%;
  max-width: 28rem;
  margin: 0 auto;
}


header {
  padding: 4.375rem;
}


.meet_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}


.hero-mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1.0625rem;
}


.hero_images {
  width: 11.5rem;
  height: auto;
}


.text-1 {
  color: var(--Slate-blue);
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
  margin: 3.5625rem;
}


.text-1 h1 {
  font-weight: 800;
  font-size: 1.875rem;
  line-height: 1.2;
}


.text-1 span {
  display: block;
}


.text-1 p {
  line-height: 1.5;
  margin: 35px 5px 15px 5px;
  text-align: center;
  font-size: 15px;
}


.buttons-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.download_btn {
  width: 11.875rem;
  padding: 1.25rem;
  border-radius: 1.6875rem;
  background-color: var(--Deep-cyan);
  border: none;
  margin-bottom: 1.3125rem;
  color: var(--Light-gray);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  cursor: pointer;
}


.buttons-1 span {
  color: var(--Light-cyan);
}


.info_btn {
  width: 9.375rem;
  padding: 1.0625rem;
  border-radius: 1.6875rem;
  background-color: var(--Light-purple);
  border: none;
  color: var(--Light-gray);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  cursor: pointer;
} 
